* {
  font-family: Poppins, Helvetica, sans-serif;
}

/* NavBar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: lightblue;
}

.active {
  text-decoration: underline lightblue 3px;
}

.Logo img {
  width: 150px;
  height: auto;
}