* {
  font-family: Poppins, Helvetica, sans-serif;
}

/* MainContent */
.main {
  text-align: center;
  margin-top: 20px;
}

/* GoogleForm */
.googleform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

@media (max-width: 600px) { /* For small screens, such as phones */
  .googleform iframe {
    width: 100%; /* Make the iframe width responsive */
    height: 400px; /* Adjust the height to be smaller on mobile */
  }
}