* {
  font-family: Poppins, Helvetica, sans-serif;
}

/* MainContent */
.main {
  text-align: center;
  margin-top: 20px;
}

/* GoogleForm */
.googleform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
}